
.section {
    margin-top: 3rem;
    text-align: center;
  
    h2 {
      font-size: 1.8rem;
      margin-bottom: 2rem;
    }
  
    .grid {
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .card {
      padding: 1.5rem;
      font-weight: 500;
      text-transform: capitalize;
      cursor: pointer;
    }
}
  